.img-wrapper img{
    width: 80px;
    margin-top: -10px;
}

.cart-wrapper{
    height: 100px;
    width: 500px;
    border: 1px solid #ccc;
    margin-left: 10%;
    overflow: hidden;
}

.btn-wrapper button{
    background-color: red;
    border: 0px;
    padding: 10px;
    border-radius: 4px;
    color: white;
    box-shadow: #333 0px 1px 5px
}

.item{
    float: left;
    width: 120px;
    padding: 20px;
    height:70px;
}

