.img-wrapper img{
    width: 80px;
    margin-top: -10px;
}

.cart-wrapper{
    height: 110px;
    width: 500px;
    border: 1px solid #ccc;
    margin-left: 10%;
    overflow: hidden;

}

.btn-wrapper button{
    background-color: green;
    border: 0px;
    padding: 10px;
    border-radius: 4px;
    color: white;
    box-shadow: #333 0px 1px 5px
}

.item{
    float: left;
    width: 120px;
    padding: 16px;
    height:70px;
}

button.remove-cart-btn{
  background-color: red;
  margin-top: 5px;
  padding: 8px 8px
}
    
